body {
  background-image: url('../img/backgroundPizza.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0px 50px 50px 50px;
  margin-bottom: 75px;
  box-shadow: 0 3px 2px -2px gray;

}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  background-color: rgb(107,142,35);
  color: white;
  padding: 15px;
  margin: 0px -600px 10px -600px;
  box-shadow: 0 3px 2px -2px gray;
}

h2 {
  color: rgb(107,142,35);
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin-top: 20px;
  background-color: rgb(107,142,35);
  text-align: center;
  padding: 10px;
}

h4 {
  color: rgb(107,142,35);
}

p {
  margin-bottom: 5px;
}

.sizeHelp {
  display: none;
}

.crustHelp {
  display: none;
}

.helpBlock {
  font-style: italic;
  color: red;
}

button {
  border: none;
  background-color: gray;
  color: white;
  padding: 10px 15px 10px 15px;
  margin-top: 15px;
}

button:hover{
  background-color: rgb(107,142,35);
}

.radio {
  display: inline;
  margin-right: 15px;
}

input {
  margin-left: 15px;
}

.order {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  text-align: center;
  margin: 10px 17px 0px 17px;
}

.result {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  margin: 10px 17px 0px 17px;
  width: 350px;
}

.pizza {
  background-color: rgba(220,220,220, .7);
  padding: 10px 20px 10px 20px;
  margin-bottom: 15px;
}

.pizzaDetails {
  display: none;
}

.pizza button {
  margin-left: 10px;
  padding: 5px;
  font-size: 15px
}

.marginTop {
  margin-top: 25px;
}

img {
  margin-right: 15px;
}

.center {
  text-align: center;
}

#delivery{
  display: none;
}

#deliveryForm {
  padding: 30px;
}

#reviewOrder {
  display: none;
}

label {
  margin-left: 15px;
}

.labelText {
  font-weight: 500px;
  font-size: 20px;
  color: rgb(107,142,35);
  margin: 5px 0px 1px 15px;
}
