body {
  background-image: url('../img/backgroundPizza.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0px 50px 50px 50px;
  margin-bottom: 75px;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  background-color: rgb(107,142,35);
  color: white;
  padding: 15px;
  margin: 0px -600px 20px -600px;
  box-shadow: 0 3px 2px -2px gray;
}

h2 {
  color: rgb(107,142,35);
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin-top: 20px;
  background-color: rgb(107,142,35);
  text-align: center;
  padding: 10px;
}

p {
  margin-bottom: 5px;
}

button {
  border: none;
  background-color: rgb(107,142,35);
  color: white;
  padding: 10px 15px 10px 15px;
}

button:hover{
  background-color: gray;
}

.radio {
  display: inline;
  margin-right: 15px;
}

input {
  margin-left: 15px;
}

.order {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  text-align: center;
  margin-left: 17px;
  margin-right: 17px;
}

.result {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  margin-left: 17px;
  margin-right: 17px;
}

.pizza {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin-top: 15px;
}

img {
  margin-right: 15px;
}
